<!-- BEGIN PAGE CONTAINER-->

<div class="container-fluid">

<!-- BEGIN PAGE HEADER-->

<div class="row-fluid">

    <div class="span12">

                <ul class="breadcrumb">

            <li>

                <i class="icon-home"></i>

                <a href="/app/list">首页</a> 

                <i class="icon-angle-right"></i>

            </li>

            <li>

                <a href="#">项目管理</a>

                <i class="icon-angle-right"></i>

            </li>

            <li><a href="#">项目列表</a></li>

        </ul>

        <!-- END PAGE TITLE & BREADCRUMB-->

    </div>

</div>

<!-- END PAGE HEADER-->

<!-- BEGIN PAGE CONTENT-->

<div class="row-fluid">

    <div class="span12">

        <!-- BEGIN SAMPLE TABLE PORTLET-->

        <div class="portlet box red">

            <div class="portlet-body">

                    <tbody>

						<div class="portlet box blue">

							<div class="portlet-title">

								<div class="caption"><i class="icon-reorder"></i>项目信息</div>

							</div>

							<div class="portlet-body form">

								<!-- BEGIN FORM-->

								<form action="/app/submit" class="form-horizontal">

									<div class="control-group">

										<label class="control-label">项目名称</label>

										<div class="controls">

											<input type="text" name="app_name" class="span6 m-wrap" />

											<span class="help-inline">请输入项目名称</span>

										</div>

									</div>

									<div class="control-group">

										<label class="control-label">项目类型</label>

										<div class="controls">

											<input class="span6 m-wrap" name="app_type" type="text" />

											<span class="help-inline">请输入项目类型</span>

										</div>

									</div>

									<div class="control-group">

										<label class="control-label">项目IP</label>

										<div class="controls">

											<input class="span6 m-wrap" name="app_ip" type="text" />

											<span class="help-inline">请输入项目ip，多个ip以,隔开</span>

										</div>

									</div>

									<div class="control-group">
										
																				<label class="control-label">日志路径</label>
										
																				<div class="controls">
										
																					<input class="span6 m-wrap" name="log_path" type="text" />
										
																					<span class="help-inline">请输入项目日志路径</span>
										
																				</div>
										
																			</div>


									<div class="form-actions">

										<button type="submit" class="btn blue">Submit</button>

										<button type="button" class="btn">Cancel</button>                            

									</div>

								</form>

								<!-- END FORM-->       

							</div>

						</div>

						<!-- END SAMPLE FORM PORTLET-->

            </div>

        </div>

        <!-- END SAMPLE TABLE PORTLET-->

    </div>


    </div>

</div>

<!-- END PAGE CONTENT-->

</div>

<!-- END PAGE CONTAINER--> 

